<html lang="en">
<body>
    <div class="container">
        <div class="header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ00ua9tSnM2TxKbshqmM_VGGih7kGn7ufIQ&s" alt="Happy Face">
            <div class="welcome">Welcome!</div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ00ua9tSnM2TxKbshqmM_VGGih7kGn7ufIQ&s" alt="Happy Face">
        </div>
        <div class="profile">
            <img src="https://via.placeholder.com/150" alt="User Photo">
            <p>{{usuario}}</p>
        </div>
        <button routerLink="/home" type="button" class="btn btn-danger">Volver</button>
        //
        <button class="btn btn-danger" (click)="cerrarSesion()">Cerrar Sesion</button>
    </div>
</body>
</html>

